.center-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-text {
  color: white;
  font-size: 40px;
  padding-top: 50px;
}
.subtitle-text {
  color: white;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.selector {
  padding-bottom: 50px;
}

.boom-text {
  text-align: center;
}

.calcText {
  font-family: "Special Elite";
  color: white;
  margin: 25px;
}

.helperText {
  font-size: 20px;
}

.travelingToText {
  font-size: 30px;
}

.background {
  background-color: black;
  height: 100vh;
}

.logo {
  width: 30%;
  height: auto;
  margin: 50px;
}

.largerText {
  font-size: 20px;
}
.smallerText {
  font-size: 15px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 30px;
}

.left-child {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 15px;
}

.right-child {
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 15px;
}
